<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create-Room </title>
</head>
<body>
    <form action="CreateNewRoom" method="post">
        {% csrf_token %}
        Room : <input type="text" required placeholder="Enter Room" name="room">
        <br>
        Username : <input type="text" required placeholder="Enter Username" name="username">
        <br>
        <button type="submit">Create</button>
        {{output}}
    </form>

</body>
</html>