<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script   src="https://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>
    <title>Room</title>
</head>
<body>
<h2>{{room}} - chat</h2>
<div id="display">

    hey guys!!
</div>




<form action="" method="" id="post-form">
    {% csrf_token %}
    <input type="hidden" name="username" id="username"  value="">
    <input type="hidden" name="room_id" id="room_id" value="">
    <input type="text" name="message" id = "message" width = "100px" height="100px" />
    <button type="submit" value="send" >send</button>

</form>
</body>
<!-- ajx for sending messages  -->
<script>

$(document).on('submit','#post-form',function(e){
    e.preventDefault();
    $.ajax({
        type : 'POST' ,
        url : '/send' ,
        data : {
            username : $('#username').val(),
            roomId : $('#room_id').val(),
            message : $('#message').val(),
            csrfmiddlewaretoken : $('input[name=csrfmiddlewaretoken]').val(),
              },
        success : function(data){
            alert(data)
        }
    });
    document.getElementById('message').value = ''
});
</script>


</html>